{{#each controller}}
  <div class="row">
    {{#view App.RepoView repoBinding="this"}}
      <div {{bindAttr class="containerClass"}}>
        <div class="well">
          <div class="span1">
            {{name}}
          </div>
          {{#if progressVisible}}
            <div class="span2">
              <div class="progress progress-striped active">
                <div class="bar" {{bindAttr style="progressStyle"}}></div>
              </div>
            </div>
          {{/if}}
          <div
            {{bindAttr class="buttonClass"}}
            {{action store target="view"}}
          >Archive</div>
        </div>
      </div>
    {{/view}}
  </div>
{{/each}}
